body {
    background-color: rgb(66, 66, 66);
}

.center1 {
    color: white;
    text-align: center;
}
.header {
    background-color: black;
    border-radius: 10px;
    width: 70%;
    height: 100px;
}